body {
	margin: 0;
	background-color: black;
	color: white;
}

div {
	margin-top: -0.5em;
}

table {
	border: 0px;
}

hr {
	width: 100%;
	margin: 0;
}

::-webkit-scrollbar {
	display: none;
}

.mobile_device_380px {
	display: none;
}
.mobile_device_480px {
	display: none;
}


/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
	.mobile_device_380px{display: block;}       
	.desktop {display: none;}
} 

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
	.mobile_device_480px{display: block;}
	.desktop {display: none;}
}

.topbar
{
	display: flex;
	font-family: Source Sans Pro;
	font-size: 1em;
	width: 100%;
	height: 5em;
	line-height: 5em;
	float: top;
	overflow: hidden;
	top: 0;
	position: fixed;
}

.bottombar
{
	display: flex;
	font-family: Source Sans Pro;
	font-size: 1em;
	width: 100%;
	height: 5em;
	line-height: 5em;
	float: bottom;
	overflow: hidden;
	bottom: 0;
	position: fixed;
}

input {
  display: none;
  visibility: hidden;
}

.desc {
	font-size: 0.5em;
	line-height: 2em;
}

.link {
	color: #fff;
}

#toggle_buggy:checked ~ #RoboBuggy_desc {
	height: 66em;
}

#RoboBuggy_desc
{
	height: 0em;
	overflow: hidden;
	transition: height 1s;
}

#toggle_multi:checked ~ #Multi-Robot_desc {
	height: 5em;
}

#Multi-Robot_desc
{
	height: 0em;
	overflow: hidden;
	transition: height 0.75s;
}

#toggle_ugly:checked ~ #UglyDuckling_desc {
	height: 50em;
}

#UglyDuckling_desc
{
	height: 0em;
	overflow: hidden;
	transition: height 0.75s;
}

.items_left
{
	margin: 0 2em;
	width: 100%;
	float: left;
	color: #fff;
}

.items_right
{
	margin: 0 2em;
	width: 100%;
	float: right;
	color: #fff;
}

.li_left
{
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin: 0 0.5em;
	display: block;
	letter-spacing: 0.05em;
	color: #fff;
}

.li_right
{
	float: right;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin: 0 0.5em;
	display: block;
	letter-spacing: 0.05em;
	color: #fff;
}

.items a
{
	text-decoration: none;
	color: inherit;
}

.li_left:hover
{
	color: #666;
	transition: color 0.2s ease;
}

.li_right:hover
{
	color: #666;
	transition: color 0.2s ease;
}

.content
{
	margin: 18% 15% 0% 15%;
	font-size: 2em;
	text-align: center;
	line-height: 2em;
}

.name
{
	font-family: Montserrat;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	/*color: #fff;*/
}

.list_of_projects
{
	font-family: Montserrat;
}

.fa {
	margin: 0 0.5em;
}

.blurb
{
	margin-top: -1em;
	font-family: Source Sans Pro;
	font-size: 0.65em;
	color: white;
}

.social
{
	margin-top: 1em;
}

.box
{
	margin: 0 0.2em;
	display: inline-block;
	height: 2.3em;
	width: 2.3em;
	line-height: 2.3em;
}

.s_label
{
	margin: 0 0.2em;
	height: 2.3em;
	width: 2.3em;
	line-height: 2.2em;
	display: inline-block;
	border-radius: 10%;
	border-color: #fff;
	border-style: solid;
	border-width: 0.04em;
	transition: 0.4s ease;
}

.box a
{
	text-decoration: none;
	color: white;
}

.s_label:hover
{
	height: 2.3em;
	width: 2.3em;
	line-height: 2.3em;
	background-color: #fff;
	color: #000;
	transition: 0.2s ease;
}
